*{
    margin:0;
    padding:0;
  }
.main{
    width:1000px;
    background: rgb(146,168,209);
    background-position: center;
    background-size: cover;
    height: 1200px;
    margin-left: 13%;
    border:solid 3px orange;
  }
.navbar{
    width: 1000px;
    height: 75px;
    margin-bottom: 5px;
    border:solid 3px orange;
}
.icon{
    width: 200px;
    float:left;
    height:70px;
}
.logo{
    color:#ff7200;
    font-size: 35px;
    font-family: arial;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}
.menu{
    width:400px;
    float:left;
    height:70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 12px;
    font-size: 14px;
}
ul li a{
    text-decoration:none ;
    color:#fff ;
    font-family: arial;
}
.card{
    width:300px;
    border:2px solid white;
    margin:auto;
    border-radius: 15px;
    height:350px;
    margin-top:10px;
}
.Dosa{
    width:100%;
    height:200px;
    border-top-right-radius: 15px;
    border-top-left-radius:15px ;
}
.btn{
    border:none;
      background-color:green;
      color:white;
      border-radius:20px;
      padding:12px 32px;
      font-weight: bolder;
      font-size: 15px;
}
.text{
    text-align:center;
    margin:10px;
 }
 .text p{
   margin-top:10px;
   margin-bottom:10px;
 }